@use '../../styles/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    min-height: 10vh;
    background-color: var(--color-primary-dark);
}

.logo {
    height: 80px;
    width: auto;
}

.nav {
    display: flex;
    gap: 1rem;
}

.nav a {
    color: var(--color-border);
    text-decoration: none;
    font-weight: 500;
    &:hover {
        filter: brightness(1.8);
    }
}

.nav a:hover {
    text-decoration: underline;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: none;
}

.menu {
    position: relative;
    display: inline-block;
    height: 80px;
    border-radius: 12px;
    opacity: 50%;
    &:hover {
        opacity: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
    background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
    border: 1px solid #aaa;
}