@import '../styles/variables';

.accountInformation {
    display: block;
    width: fit-content;
    flex: 1;
    margin:0 auto;

    background-color: var(--color-background);
    color: var(--color-text);
    font-family: $font-family;
    padding: $spacing-lg;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.accountBasic {
    display: flex;
    flex-direction: row;
    margin: var(--spacing-md);
}

.accountAvatar {
    width: 200px;
    height: 100px;
    box-shadow: 1px 1px 8px var(--color-primary);
    border-radius: 50px 15px 15px 50px;
    margin-right: var(--spacing-lg);
    object-fit: cover;
}

#accountBasicInfoRow {
    border-bottom-width: 2px;
}

#keyColumn {
    display: block;
    font-weight: lighter;
    margin-right: var(--spacing-sm);
    margin-bottom: 0px;
    opacity: 0.4;
    font-size: 120%;
    border-bottom-style: solid;
    border-color: var(--color-primary);
}

#valueColumn {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 150%;
    border-bottom-style: dashed;
    border-color: var(--color-primary);
}